* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
}

#root {
    width: 100%;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5.2rem;
    gap: 1px;
    border: 1px solid white;
}


.squareParentDiv {
    display: flex;
    gap: 1px;
}

.square {
    background-color: red;
    width: 4.5rem;
    height: 4.5rem;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}
.piece{
    width: 4rem;
    height: 4rem;
}
.black {
    background-color: rgb(79, 228, 74);

}
.white{
    background-color: white;
}

.highlight{
    width: 50%;
    height: 50%;
    border-radius: 50%;

    background-color: rgba(0, 0, 1, 0.175);
}

.highlightSelectedSqaure{
    background-color: yellow;
}

.hemlo{
    /* background: red; */
    width: 60%;
    height: 60%;
}